<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Picplum JS SDK Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Akshay Dodeja (Picplum.com)">

    <!-- Le styles -->
    <link href="//api.picplum.com/bootstrap.css" rel="stylesheet">
    <link href="picplum.css" rel="stylesheet">
    <style type="text/css">
      .row {
        margin: 20px 0;
      }
      pre {
        font-size: 12px;
      }
      .guide section {
        margin: 30px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">

      <h1>Picplum Javascript SDK</h1>
      <p>Use this document as a way to quick start any new project. All you get is this message and a barebones HTML document.</p>

      <div class="row">
        <div class="span10">
          <h3>Example Photos</h3>
        </div>
        <div class="span8 print_bar"><!-- Action Buttons --> </div>
      </div>
      <div class="row">
        <div class="span2">
          <img src="https://d37mmodh84715u.cloudfront.net/i/ff5CKuDAg5IWhg/240-150_cdd62bfae73d11e1abd6123138045d81_7.jpg" class="img-rounded photo" data-highres="https://d37mmodh84715u.cloudfront.net/i/ff5CKuDAg5IWhg/cdd62bfae73d11e1abd6123138045d81_7.jpg">
        </div>
        <div class="span2">
          <img src="https://d37mmodh84715u.cloudfront.net/i/ePV-idOUg_Wh9A/240-150_63a9177ce4bf11e1839c123138192853_7.jpg" class="img-rounded photo" data-highres="https://d37mmodh84715u.cloudfront.net/i/ePV-idOUg_Wh9A/63a9177ce4bf11e1839c123138192853_7.jpg">
        </div>
        <div class="span2">
          <img src="https://d37mmodh84715u.cloudfront.net/i/DW8ydsC6GEB1Lw/240-150_bea7c8d0eee711e191d6123138072de5_7.jpg" class="img-rounded photo" data-highres="https://d37mmodh84715u.cloudfront.net/i/DW8ydsC6GEB1Lw/bea7c8d0eee711e191d6123138072de5_7.jpg">
        </div>
        <div class="span2">
          <img src="https://d37mmodh84715u.cloudfront.net/i/wQusvkRTNr_Vuw/240-150_9ece910ee9c111e18dfa22000a1cbb1d_7.jpg" class="img-rounded photo" data-highres="https://d37mmodh84715u.cloudfront.net/i/wQusvkRTNr_Vuw/9ece910ee9c111e18dfa22000a1cbb1d_7.jpg">
        </div>
        <div class="span2">
          <img src="https://d37mmodh84715u.cloudfront.net/i/rTzuT5IQJLD92w/240-150_6eff0702eb0011e1a3461231381315e1_7.jpg" class="img-rounded photo" data-highres="https://d37mmodh84715u.cloudfront.net/i/rTzuT5IQJLD92w/6eff0702eb0011e1a3461231381315e1_7.jpg">
        </div>
      </div>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="/lib.js"></script>


    <script type="text/javascript">
      Picplum.init('68ca701cb479b31ff56eceeaa3491b43baf8f1c2bc3a72ed7555f604852680fe', { 
        debug: true
      });
    </script>

  </body>
</html>
